nav {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color:black;
}
li{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;


}
@media screen and (max-width: 500px) {
    nav {
        flex-direction: column; /* Bascule en colonne */
        gap: 15px; /* Ajoute de l'espace entre les liens empilés */
    }

    section {
        padding: 20px;
    }
}